orchestration/kestra/flows/chicago_traffic_crashes_pipeline.yaml
id: chicago_traffic_crashes_flow
namespace: chicago_traffic_crashes

tasks:
    - id: hello
      type: io.kestra.plugin.scripts.shell.Commands
      taskRunner:
          type: io.kestra.plugin.core.runner.Process
      commands:
          - cat /files/test.txt

    - id: build_image
      type: io.kestra.plugin.docker.Build
      dockerfile: |
          FROM python:3.13-slim
          RUN pip install uv
          RUN uv pip install --system "dlt[gs,motherduck]>=1.23.0" requests python-dotenv duckdb==1.4.4
      tags:
          - kestra/python-dlt:latest

    - id: run_chicago_to_motherduck_pipeline
      type: io.kestra.plugin.scripts.python.Commands
      containerImage: "{{ outputs.build_image.imageId }}"
      packageManager: UV
      namespaceFiles:
          enabled: true
      env:
          MOTHERDUCK_TOKEN: "{{ kv('MOTHERDUCK_TOKEN') }}"
          MOTHERDUCK_DATABASE: "{{ kv('MOTHERDUCK_DATABASE') }}"
          MOTHERDUCK_DATASET: "{{ kv('MOTHERDUCK_DATASET') }}"

      commands:
          - python chicago_to_motherduck/pipeline.py {{ trigger.date | date('YYYY-MM-dd') }}

triggers:
    - id: daily_noon_schedule
      type: io.kestra.plugin.core.trigger.Schedule
      cron: "0 12 * * *"
