orchestration/kestra/flows/chicago_traffic_crashes_pipeline.yaml
id: chicago_traffic_crashes_flow
namespace: chicago_traffic_crashes

tasks:
    - id: build_image
      type: io.kestra.plugin.docker.Build
      dockerfile: |
          FROM python:3.13-slim
          RUN pip install uv
          RUN uv pip install --system "dlt[gs,motherduck]>=1.23.0" requests python-dotenv duckdb==1.4.4
      tags:
          - kestra/python-dlt:latest

    - id: run_chicago_to_motherduck_pipeline
      type: io.kestra.plugin.scripts.python.Commands
      containerImage: "{{ outputs.build_image.imageId }}"
      packageManager: UV
      namespaceFiles:
          enabled: true
      env:
          MOTHERDUCK_TOKEN: "{{ kv('MOTHERDUCK_TOKEN') }}"
          MOTHERDUCK_DATABASE: "{{ kv('MOTHERDUCK_DATABASE') }}"
          MOTHERDUCK_DATASET: "{{ kv('MOTHERDUCK_DATASET') }}"
      commands:
          - python chicago_to_motherduck/pipeline.py {{ trigger.date | date('YYYY-MM-dd') }}

    - id: motherduck_to_gcp_pipeline
      type: io.kestra.plugin.scripts.python.Commands
      containerImage: "{{ outputs.build_image.imageId }}"
      packageManager: UV
      namespaceFiles:
          enabled: true
      env:
          MOTHERDUCK_TOKEN: "{{ kv('MOTHERDUCK_TOKEN') }}"
          MOTHERDUCK_DATABASE: "{{ kv('MOTHERDUCK_DATABASE') }}"
          MOTHERDUCK_DATASET: "{{ kv('MOTHERDUCK_DATASET') }}"
          BUCKET_NAME: "{{ kv('BUCKET_NAME') }}"
          GCP_CREDENTIALS_JSON: "{{ kv('GCP_CREDENTIALS_JSON') }}"

      commands:
          - python motherduck_to_gcs/pipeline.py {{ trigger.date | date('YYYY-MM-dd') }}

    - id: dbt_bigquery
      type: io.kestra.plugin.core.flow.WorkingDirectory
      tasks:
          - id: clone_dbt_repo
            type: io.kestra.plugin.git.Clone
            url: "https://github.com/{{ kv('GITHUB_USERNAME') }}/{{ kv('GITHUB_REPO') }}"
            branch: main

          - id: run_dbt_build
            type: io.kestra.plugin.dbt.cli.DbtCLI
            containerImage: ghcr.io/kestra-io/dbt-bigquery:latest
            projectDir: transform
            commands:
                - dbt run --profile chicago_traffic_crashes --target dev
            env:
                PROJECT_ID: "{{ kv('GCP_PROJECT_ID') }}"
                DATASET_ID: "{{ kv('GCP_BIGQUERY_DATASET') }}"
            profiles: |
                chicago_traffic_crashes:
                  target: dev
                  outputs:
                    dev:
                      type: bigquery
                      method: service-account
                      project: "{{ kv('GCP_PROJECT_ID') }}"
                      dataset: "{{ kv('GCP_BIGQUERY_DATASET') }}"
                      keyfile: gcp_keyfile.json
                      threads: 4
                      timeout_seconds: 300
            inputFiles:
                gcp_keyfile.json: "{{ kv('GCP_CREDENTIALS_JSON') }}"

triggers:
    - id: daily_noon_schedule
      type: io.kestra.plugin.core.trigger.Schedule
      cron: "0 12 * * *"
